
npm-debug.log
.DS_Store
node_modules/
.history/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.git/
.idea/
.settings/
.classpath
.project
.vscode/
*.iml
*/*.log.*
*/*.log
bin/

# Editor directories and files
*.xml
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
lib/
